@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    padding: 2em;
    height: 100%;
    font-family: "Lato", sans-serif;
}
.slideShowMaster {
    width: 100%;
    height: 100%;
    background-color: black;
    position: relative;
    list-style: none;
    border-radius: 2em;
    overflow: hidden;
}
.slideShowMaster .labels {
    /* display: none; */
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0,0,0,1) 100%);
    bottom: 0;
    min-height: 20%;
    width: 100%;
    padding: 2em;
    border-radius: 0em 0em 2rem 2rem;
    font-weight: 900;
}
.slideShowMaster .labels span {
    display: block;
    color: white;
    mix-blend-mode: difference;
}
.slideShowMaster .labels .photoName {
    font-size: 2em;
    font-weight: 900;
}
.slideShowMaster .labels .photoAuthor {
    font-size: 1.8em;
    font-weight: 700;
}

.slideShowMaster li {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    transition: opacity 0.5s;
}
.slideShowMaster img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
